[Desktop Entry]
Type=Application
Version=1.0
Name=安装 WZY Linux
Name[zh_CN]=安装 WZY Linux
Comment=图形化安装到硬盘
Comment[zh_CN]=图形化安装到硬盘
Exec=/usr/local/bin/wzy-install
Icon=drive-harddisk
Terminal=false
Categories=System;
